@using DataAccessLibrary
@using DataAccessLibrary.Models
@using HamsterWars.Components
@using HamsterWars.Services

@inject IHamsterData _db
@inject IResultData _bd
@page "/matchwinners/{id:int}"

<HamsterCard hamster="hamster" />

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">GameID</th>
            <th scope="col">Winner</th>
            <th scope="col">Looser</th>
            <th scope="col">Date</th>
        </tr>
    </thead>
    <tbody>
        @foreach (ResultModel result in allResults)
        {
            <tr>
                <th>@result.ID</th>
                <td scope="row">@GetNames.GetCompetitorName(@result.WinnerID, allHamsters).Name;</td>
                <td>
                    @if (@GetNames.GetCompetitorName(@result.LooserID, allHamsters).Name == "Unknown")
                    {
                        <p style="color:red">@result.LooserID</p>
                    }
                    else
                    {
                        @GetNames.GetCompetitorName(@result.LooserID, allHamsters).Name
                    }
                </td>
                <td>@result.DateOfGame</td>
            </tr>
        }
    </tbody>
</table>
@code {
    [Parameter]
    public int id { get; set; }
    HamsterModel hamster { get; set; }

    private void setHamster()// kanske måste sätta denna async o lägga i on init
    {
        hamster = allHamsters[id];
    }
    private List<ResultModel>? allResults;
    private List<HamsterModel>? allHamsters;
    protected override async Task OnInitializedAsync()
    {
        allHamsters = await _db.GetHamsters();
        allResults = await _bd.GetGames();
        setHamster();
    }

    // DENNA KOD CRASHAR ALLT!!
}
